<!-- <ul>
    <li *ngFor="let customer of listData">
        {{ customer.first_name }}
    </li>
</ul> -->
<nz-table #filterTable [nzData]="listData" nzTableLayout="fixed">
    <thead>
        <tr>
            <th
              *ngFor="let column of columnsList"
              [nzSortFn]="column.sortFn"
              [nzSortDirections]="column.sortDirections"
              [nzFilters]="column.filteredList"
              [nzFilterFn]="column.filterFn"
            >
            {{ column.name }}
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let customer of filterTable.data">
            <td>{{ customer.first_name }}</td>
            <td>{{ customer.last_name }}</td>
            <td>{{ customer.car }}</td>
            <td>{{ customer.no_claims }}</td>
            <td>{{ customer.gender }}</td>
        </tr>
    </tbody>
</nz-table>