.logo {
    height: 40px;
    float: left;
}

nz-header {
    line-height: 64px;
    background: #272626;
}
nz-menu-item {
    background: #272626;
}

nz-content {
    padding: 0 50 px;
}

nz-footer {
    text-align: center;
}